/*
!/.janus/*
!/.gitignore
!/README.md
!.vimrc.after
/bin/*
!/bin/brew
!/share/man/man1/brew.1
!/.config.d
!/.config
.DS_Store
/Library/LinkedKegs
/Library/Taps
/Library/Formula/.gitignore
.zshrc.local
.config/fish/fish_history
.config/fish/fishd.*
.config/libimobiledevice
.config/StardewValley
