[submodule ".config/vim/janus/VimClojure"]
	path = .config/vim/janus/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".config/vim/janus/vim-less"]
	path = .config/vim/janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "/Users/eqdw/.config/vim/janus/gitgutter"]
	path = /Users/eqdw/.config/vim/janus/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "janus/vim-textobj-rubyblock"]
	path = janus/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
